In [1]:

import  pandas as pd
import numpy as np
ecom = pd.read_csv("Ecommerce Purchases")

### In this notebook I am Analysing Data from the Ecommerce Purchase File 
### Using Pandas and Numpy

In [2]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [3]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

## What is the average Purchase Price?

In [41]:
ecom.head(1)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14

In [42]:
ecom['Purchase Price'].mean()

50.34730200000025

## What were the highest and lowest purchase prices?

In [43]:
ecom['Purchase Price'].max()

99.99

## How many people have English 'en' as their Language of choice on the website?

In [44]:
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

## How many people have the job title of "Lawyer" ?

In [5]:
ecom[ecom['Job'] == 'Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

## How many people made the purchase during the AM and how many people made the purchase during PM ?

In [10]:
 ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [11]:
ecom['Job']

0       Scientist, product/process development
1                            Drilling engineer
2                     Customer service manager
3                            Drilling engineer
4                                  Fine artist
5                            Fish farm manager
6                                       Dancer
7                              Event organiser
8                            Financial manager
9                           Forensic scientist
10               Development worker, community
11                     Diagnostic radiographer
12                          Surveyor, quantity
13        Accountant, chartered public finance
14                               Acupuncturist
15                              Retail manager
16                              Therapist, art
17                         Designer, jewellery
18                                Photographer
19                  Designer, interior/spatial
20                    Public relations officer
21                     Presenter, broadcasting
22                              Retail manager
23                          Field seismologist
24                                    Musician
25            Training and development officer
26                           Barrister's clerk
27                             Careers adviser
28         Scientist, research (life sciences)
29                           Recycling officer
                         ...
9970                       Electrical engineer
9971                            Therapist, art
9972                    Sales professional, IT
9973                 Editor, magazine features
9974                          Sports therapist
9975                 Education officer, museum
9976                        Furniture designer
9977                       Biomedical engineer
9978              Designer, exhibition/display
9979                                    Lawyer
9980                          Textile designer
9981           Environmental education officer
9982                        Restaurant manager
9983       Scientist, research (life sciences)
9984                     Editor, commissioning
9985                Designer, interior/spatial
9986                                Cabin crew
9987                    Primary school teacher
9988                        Charity fundraiser
9989              Community development worker
9990                       Early years teacher
9991                     IT sales professional
9992                              Set designer
9993              Designer, exhibition/display
9994                 Education officer, museum
9995                                Printmaker
9996                           Energy engineer
9997                        Veterinary surgeon
9998                  Local government officer
9999                    Embryologist, clinical
Name: Job, Length: 10000, dtype: object

## What are the 5 most common Job Titles?

In [ ]:

ecom['Job'].value_counts().head()

## Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [16]:
# First check the lot
ecom[ecom['Lot'] == '90 WT']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

In [17]:
 #Get the price
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

## What is the email of the person with the following Credit Card Number: 4926535242672853

In [23]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

## How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?

In [29]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

 ## How many people have a credit card that expires in 2025?

In [32]:
ecom[ecom['CC Exp Date'].apply(lambda exp: exp[3:] == '25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

## What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [38]:
ecom['Email']

0                       pdunlap@yahoo.com
1                      anthony41@reed.com
2          amymiller@morales-harrison.com
3             brent16@olson-robinson.info
4             christopherwright@gmail.com
5                       ynguyen@gmail.com
6                      olivia04@yahoo.com
7                    phillip48@parks.info
8                    kdavis@rasmussen.com
9                qcoleman@hunt-huerta.com
10                   ustewart@hotmail.com
11               johnnymiller@coleman.com
12                      tholt@hotmail.com
13                    caitlin57@yahoo.com
14                       aburns@yahoo.com
15                     amanda39@yahoo.com
16            griffincatherine@wilson.com
17                 stacymitchell@hall.com
18                     hannah63@yahoo.com
19                   ruiznicole@gmail.com
20                 zstephenson@smith.info
21                     rsmith@hotmail.com
22              chambersmichael@gmail.com
23            ltaylor@gardner-meadows.com
24                      james07@yahoo.com
25                   madison41@mooney.com
26                       mlogan@gmail.com
27                  michael35@hotmail.com
28                  khandeborah@yahoo.com
29                   stonekaren@yahoo.com
                      ...
9970              rangelbrian@hotmail.com
9971            leslierichards@warner.org
9972                kellycole@hotmail.com
9973                     rlewis@yahoo.com
9974                    paula72@yahoo.com
9975                 taylordiaz@roman.net
9976                     pbrown@gmail.com
9977               daltoncarter@yahoo.com
9978                   ywhite@hotmail.com
9979                   qjohnson@yahoo.com
9980             mark74@kirby-stewart.org
9981           laurenbennett@richards.com
9982                  heather24@gmail.com
9983    jacksonmanuel@rodriguez-welch.com
9984                clee@vasquez-luna.com
9985                 cranejames@white.com
9986             belindaleon@schwartz.com
9987             denisehamilton@novak.biz
9988               hudsonmichael@pace.com
9989           walterswilliam@hotmail.com
9990          andersonmichael@sherman.biz
9991                   kking@wise-liu.com
9992                    bberry@wright.net
9993            chelseawilliams@lopez.biz
9994                   iroberts@gmail.com
9995               iscott@wade-garner.com
9996                   mary85@hotmail.com
9997                    tyler16@gmail.com
9998              elizabethmoore@reid.net
9999                rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [40]:
ecom['Email'].apply(lambda email: email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64